.container-fluid{}
.bar_container{
	    position: fixed;
    background-color: #fff;
    border-bottom: 1px solid #dadada;
    width: 100%;
    margin-bottom: 40px;
}
.bar-inner{
	position: relative;
    max-width: 1440px;
    min-width: 320px;
    margin: 0 auto;
    padding-left: 24px;
    padding-right: 24px;
    box-sizing: border-box;
}
.bar-inner .btn{
	float: right;
	padding: 16px;
}
.bar-inner .btn img{
	height: 30px;
	margin-left: 10px;
}
.product-summary{
	max-width: 1440px;
    margin: 0 auto;
    color: #363636;
    float: left;
}
.product-summary_container{   
	 padding: 0 12px;
    box-sizing: border-box;
border-right-style: 1px solid grey;
float:left;
}
.data{
	border:2px solid grey;
	height: 200px;
	float: left;
	width: 100%;
}








#img img{
	max-width: 1349px;
	    width: 100%;
    height: auto;
    margin-top: 100px;
    margin-bottom: 10px;
}
