*{
	margin: 0;
	padding: 0;
}
.main{
border: 1px solid;
width: 100%;
height:1200px;
margin: -1px auto;
background-color: white;
}
 .topbar{
width: auto;
height: 4px;
background-color: #2c4152;
}

.social_icon{
width: 100%;
height: 35px;
background-color:white;

}
.icon{
	width: auto;
	height: 30px;
	padding: 3px 2px 3px 2px;
 
}
.login{
	float: right;
	width: 194px;
}

.navbar{

width: 100%;
height: 100px;
background-color: white;
margin-top:2px;

}
.search{
	height: 59px;
    margin-top: -51px;
    width: 1116px;
    margin-left: 226px;
}
.searchterm{
	    padding: 5px;
    height: 16px;
    border-radius: 34px;
}
.searchbutton {
     width: 40px;
    height: 36px;
    background: #dfe8e8;
    text-align: center;
    border-radius: 15px;
    font-size: 20px;
    float: right;
        margin-top: -53px;
    margin-right: 129px;
    cursor: pointer;
        color: #2c4152;
}
.box{
width: 100%;
background-color: #ecebeb;
margin-top: 12px;
float: left;
height: 150px;


}
.box1{
width: 33%;
float: left;
height: auto;


}
.footer.hover{

width: 100%;
background-color: #2c4152;
margin-top: 20px;
height: 400px;
float: left;

}
.box2{
	float: top;
	margin-bottom: 20px;

}
.box3{
	margin-top: 130px;
	margin-left: 25px;
}
ul li{
	display: inline-block;
	width: 63px;
    height: 40px;
    font-size: 20px;
    line-height: 40px;
    padding: 0 10px;
   
    text-align: center;
		}
ul li a{
	text-decoration: none;
	color: #2c4152;
}
ul li:hover{
	font-weight: 800;
}
.active{
	font-weight: 700;
}