*{
	margin: 0;
	padding: 0;
}
.main{

width: 100%;
height:auto;
margin: -1px auto;
background-color: white;
}	
.topbar{
width: auto;
height: 4px;
background-color: black;
}

.product{

    border: 0px;
    width: 268px;
    height: 306px;
    padding: 6px;
    margin: 13px;
    float: left;
    margin-left: 40px;
}
.footer{

width: 100%;
background-color: #2c4152;
margin-top: 20px;
height: 400px;
float: left;

}